<html>

<head>
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <main>
            <div>
                <p class="userMessage">
                    <%= message.text %>
                </p>
                <p class="userName">
                    <span style="margin-left: auto;">
                        <%= message.user %> -
                            <%= message.added %>
                    </span>
                </p>
            </div>
    </main>
</body>

</html>