* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    margin: 10px;
    padding: 20px;
    box-shadow: 2px 2px 4px 2px rgb(246, 246, 246);
    border-radius: 5px;
    min-width: 300px;
}

.userName,
.userMessage {
    margin: 8px 0;
}

.userName {
    font-size: .9rem;
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-top: 25px;

    a {
        cursor: pointer;
        svg {
            width: 25px;
            height: 25px;
        }

    }
} 

.userMessage {
    font-size: 1.1rem;
}

.addBtn {
    position: fixed;
    bottom: 100px;
    right: 100px;
    padding: 10px;
    width: 60px;
    height: 60px;
    background-color: white;
    box-shadow: 2px 2px 4px 3px rgb(246, 246, 246);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    svg {
        width: 45px;
        height: 45px;
    }
}

.addBtn:hover {
    transform: translateY(2px);
}

input {
    padding: 5px;
    font-size: 1.5rem;
    border-radius: 4px;
    border-color: black;
    border: 2px solid black
    
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 4px 3px rgb(246, 246, 246);
    padding: 15px;
    border-radius: 6px;

    div {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
        box-shadow: none;
        padding: 5px;

        input {
            flex-grow: 1;
        }

    }

    button {
        margin-top: 20px;
        border: 2px solid blueviolet;
        padding: 15px;
        background-color: transparent;
        border-radius: 10px
    };
}
